@import './google-map.less';
/* width */
::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0.1em;
  transition: all 0.5s;
}

#__next {
  min-height: 100vh;
}

[data-theme='default'] {
  *:hover::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(92, 91, 91);
  }

  #main-header {
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  }
}

[data-theme='dark'] {
  *:hover::-webkit-scrollbar-thumb {
    background: rgb(92, 91, 91);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177);
  }
}

.auto-hidden-scroll-y {
  overflow-y: hidden !important;
  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
  &:hover {
    overflow-y: auto !important;
  }
  &:hover::-webkit-scrollbar {
    width: 0.3em !important;
    height: 0.3em !important;
  }
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none;
}

@media screen {
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
}
.container {
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto;
}
